@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all webkit browsers (Chrome, Safari) */

.overflow-x-auto {
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}